<div class="container">
<h4 class="text-center">Employee List</h4>
<div style="margin: 30px;">
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>EmailId</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let employees of employee">
            <td>{{employees.id}}</td>
            <td>{{employees.firstName}}</td>
            <td>{{employees.lastName}}</td>
            <td>{{employees.email}}</td>
        </tr>
    </tbody>
</table>
</div>
</div>
