<div class="container">
    <h4>Reactive Forms</h4>
    <form [formGroup]="checkoutForm" (ngSubmit)="postData();">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="emailField">
          <span *ngIf="checkoutForm.get('emailField').touched && checkoutForm.get('emailField').hasError('required')">Enter email id</span>
          <span *ngIf="checkoutForm.get('emailField').touched && checkoutForm.get('emailField').hasError('email')">Enter Valid email id</span>
          <span *ngIf="checkoutForm.get('emailField').touched && checkoutForm.get('emailField').hasError('minlength')">Minimum 5 characters required</span>
          <!-- <span *ngIf="checkoutForm.get('emailField').touched && checkoutForm.get('emailField').hasError('maxlength')">Maximum 10 characters are allowed</span> -->
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" formControlName="pass">
          <span *ngIf="checkoutForm.get('pass').touched && checkoutForm.get('pass').hasError('required')">Enter password</span>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="terms">
          <label class="form-check-label" for="exampleCheck1">Agree to Terms</label>
        </div>
        <div class="mb-3">
            <input type="radio" class="form-check-input" value="male" id="genderField" formControlName="genderField">
            <label class="form-check-label" for="exampleCheck1">Male</label>
          </div>
          <div class="mb-3">
            <input type="radio" class="form-check-input" value="female" id="genderField" formControlName="genderField1">
            <label class="form-check-label" for="exampleCheck1">Female</label>
          </div>
        <button type="submit" class="btn btn-primary" [disabled]="!checkoutForm.valid" (click)="moveto();">Submit</button>
        <button type="submit" class="btn btn-primary" (click)="resetForm();" >Clear</button>
      </form>
</div>


